<a href="https://colab.research.google.com/github/mattpolands/Learning_pandas/blob/main/PandasExercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import pandas
import pandas as pd

In [ ]:
#read 'Salaries' file and turn into a usuable df/variable
sal = pd.read_csv('Salaries.csv')

In [ ]:
#pull the first five entries
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [ ]:
#grab basic info
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [ ]:
#pull the average salary
sal['BasePay'].mean()

66325.4488404877

In [ ]:
#pull the highest overtime pay
sal['OvertimePay'].max()

245131.88

In [ ]:
#find the job title of JOSEPH DRISCOLL
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [ ]:
#pull total compensation for JOSEPH DRISCOLL
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [ ]:
#pull the name of the highest total compensation employee
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [ ]:
#another way to pull the name of the highest total compensation employee
#using the loc technique and method 'idxmax'
#'idxmax' is similar to numpy's 'argmax'
sal.loc[sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [ ]:
#with above you can pull just the index number as well
#coincidentally the index number for Nathaniel Ford is 0
sal['TotalPayBenefits'].idxmax()

0

In [ ]:
#pandas also supports argmax
sal['TotalPayBenefits'].argmax()

0

In [ ]:
#can also use iloc to pull info from chosen index
sal.iloc[sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [ ]:
#employee with the least amount of compensation
sal.iloc[sal['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

In [ ]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [ ]:
#mean basepay for all employees
#use the groupby method
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [ ]:
#how many job titles are there
len(sal['JobTitle'].unique())

2159

In [ ]:
#better way
sal['JobTitle'].nunique()

2159

In [ ]:
#pull the top five most common job titles
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [ ]:
#job titles represented by only one person in 2013
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

202

In [ ]:
#pull all the job titles with the word chief in it
#create a function
#takes title (in this case a string) and turns it from upper case to lower case
#then splits each word into a list
#then scans list for 'chief'
def chief_string(title):
  if 'chief' in title.lower().split():
    return True
  else:
    return False

In [ ]:
#now use it on the data
#do this by using the apply method followed by a function within a function with lambda
sal['JobTitle'].apply(lambda x: chief_string(x))

0         False
1         False
2         False
3         False
4          True
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: JobTitle, Length: 148654, dtype: bool

In [ ]:
#now get the sum, which is the final part of the answer
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

477

In [ ]:
#bonus question - find if there is any correlation between pay and length of title
#to start this need to create a new column
sal['TitleLength'] = sal['JobTitle'].apply(len)

In [ ]:
#choose the columns comparing
#place in method corr (obvious short for correlation)
sal[['TotalPayBenefits', 'TitleLength']].corr()

                  TotalPayBenefits  TitleLength
TotalPayBenefits          1.000000    -0.036878
TitleLength              -0.036878     1.000000

In [ ]:
import pandas as pd

In [ ]:
#read csv file and turn it into a df
ecom = pd.read_csv('Ecommerce Purchases')

In [ ]:
#get column and row counts
#several ways to do this 
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [ ]:
len(ecom.columns)

14

In [ ]:
len(ecom.index)

10000

In [ ]:
#what is the average purchase price
ecom['Purchase Price'].mean()

50.347302

In [ ]:
#what is the highest purchase price
ecom['Purchase Price'].max()

99.99

In [ ]:
#what is the lowest purchase price
ecom['Purchase Price'].min()

0.0

In [ ]:
#how many people have english as their language of choice
ecom[ecom['Language']=='en']['Language'].value_counts()

en    1098
Name: Language, dtype: int64

In [ ]:
#how many people have the job title of "Lawyer"
ecom[ecom['Job']=='Lawyer']['Job'].count()

30

In [ ]:
#additional ways
len(ecom[ecom['Job']=='Lawyer']['Job'])

30

In [ ]:
ecom[ecom['Job']=='Lawyer'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

In [ ]:
len(ecom[ecom['Job']=='Lawyer']['Job'].index)

30

In [ ]:
#how many people purchased in the morning and how many peope purchased in afternoon/evening
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [ ]:
#what are the 5 most common job titles
ecom['Job'].value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

In [ ]:
#purchase price for purchase that came from Lot 90 WT
ecom[ecom['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [ ]:
#email of the person with credit card 4926535242672853
#key point because == is to an actual number, you don't have to place in single quotes
#you will get no answer if you do place it in quotes
ecom[ecom['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [ ]:
#how many people have American Express and made a purchase over $95
ecom[(ecom['Purchase Price']>=95) & (ecom['CC Provider']=='American Express')].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [ ]:
#how many people have a credit card that expires in 2025
sum(ecom['CC Exp Date'].apply(lambda exp: exp[3:]=='25'))

1033

In [ ]:
#what are the five most popular email hosts
ecom['Email'].apply(lambda email: email.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64