<a href="https://colab.research.google.com/github/mattpolands/Learning_pandas/blob/main/PandasDFreview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from numpy.random import randn

In [ ]:
np.random.seed(101)

In [ ]:
#df = pd.DataFrame(data, index:Axes, columns:Axes, dtype)
df = pd.DataFrame(randn(5,4),['Row A','Row B','Row C','Row D', 'Row E'],['Column A', 'Column B', 'Column C', 'Column D'])

In [ ]:
df

       Column A  Column B  Column C  Column D
Row A  0.302665  1.693723 -1.706086 -1.159119
Row B -0.134841  0.390528  0.166905  0.184502
Row C  0.807706  0.072960  0.638787  0.329646
Row D -0.497104 -0.754070 -0.943406  0.484752
Row E -0.116773  1.901755  0.238127  1.996652

In [ ]:
#**each column is simply a pandas series
#dataframe is a bunch of series that share an index
df['Column B']

Row A    1.693723
Row B    0.390528
Row C    0.072960
Row D   -0.754070
Row E    1.901755
Name: Column B, dtype: float64

In [ ]:
df[['Column B', 'Column D']]

       Column B  Column D
Row A  1.693723 -1.159119
Row B  0.390528  0.184502
Row C  0.072960  0.329646
Row D -0.754070  0.484752
Row E  1.901755  1.996652

In [ ]:
#creation of a new column off of existing columns
df['Column E'] = df['Column A'] + df['Column C']

In [ ]:
df

       Column A  Column B  Column C  Column D  Column E
Row A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
Row B -0.134841  0.390528  0.166905  0.184502  0.032064
Row C  0.807706  0.072960  0.638787  0.329646  1.446493
Row D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
Row E -0.116773  1.901755  0.238127  1.996652  0.121354

In [ ]:
#use drop function to remove column or row
#key factor here is you have to determine axis
#axis 0 = rows; axis 1 = columns
df.drop('Column E',axis=1)

       Column A  Column B  Column C  Column D
Row A  0.302665  1.693723 -1.706086 -1.159119
Row B -0.134841  0.390528  0.166905  0.184502
Row C  0.807706  0.072960  0.638787  0.329646
Row D -0.497104 -0.754070 -0.943406  0.484752
Row E -0.116773  1.901755  0.238127  1.996652

In [ ]:
df

       Column A  Column B  Column C  Column D  Column E
Row A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
Row B -0.134841  0.390528  0.166905  0.184502  0.032064
Row C  0.807706  0.072960  0.638787  0.329646  1.446493
Row D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
Row E -0.116773  1.901755  0.238127  1.996652  0.121354

In [ ]:
#**now BEWARE this action has only been processed for the cell that is two cells up
#pandas does this as a precaution to make sure that wanted data isn't actually dropped
#to make it permanent you have to use the 'inplace' method
df.drop('Column E',axis=1,inplace=True)

In [ ]:
#now if we call df we will get it without Column E (the column that we dropped)
df

       Column A  Column B  Column C  Column D
Row A  0.302665  1.693723 -1.706086 -1.159119
Row B -0.134841  0.390528  0.166905  0.184502
Row C  0.807706  0.072960  0.638787  0.329646
Row D -0.497104 -0.754070 -0.943406  0.484752
Row E -0.116773  1.901755  0.238127  1.996652

In [ ]:
#drop row example
df.drop('Row D',axis=0,inplace=True)

In [ ]:
df

       Column A  Column B  Column C  Column D
Row A  0.302665  1.693723 -1.706086 -1.159119
Row B -0.134841  0.390528  0.166905  0.184502
Row C  0.807706  0.072960  0.638787  0.329646
Row E -0.116773  1.901755  0.238127  1.996652

In [ ]:
#why is axis=0 rows and axis=1 columns
#pandas is built on numpy so uses many of the same processes
#this is best seen in calling the shape of the dataframe
df.shape

(4, 4)

In [ ]:
#a tuple that represents the array's dimensions
#essentially (rows, columns)
#in terms of axes, view it as (0, 1)
#designation rows is 0, columns is 1

In [ ]:
#to pull rows
#this forms another series
df.loc['Row B']

Column A   -0.134841
Column B    0.390528
Column C    0.166905
Column D    0.184502
Name: Row B, dtype: float64

In [ ]:
#two ways to select rows
#loc if you want the row via label index
#iloc if you want the row via numerical/integer index
df.iloc[1]

Column A   -0.134841
Column B    0.390528
Column C    0.166905
Column D    0.184502
Name: Row B, dtype: float64

In [ ]:
#pulling select values
df.loc['Row A','Column B']

1.693722925204035

In [ ]:
df

       Column A  Column B  Column C  Column D
Row A  0.302665  1.693723 -1.706086 -1.159119
Row B -0.134841  0.390528  0.166905  0.184502
Row C  0.807706  0.072960  0.638787  0.329646
Row E -0.116773  1.901755  0.238127  1.996652

In [ ]:
#multiple spots
df.loc[['Row A','Row C'],['Column A','Column D']]

       Column A  Column D
Row A  0.302665 -1.159119
Row C  0.807706  0.329646

In [ ]:
df > 0

       Column A  Column B  Column C  Column D
Row A      True      True      True      True
Row B      True     False     False      True
Row C     False      True      True     False
Row D      True     False     False      True
Row E      True      True      True      True

In [ ]:
booldf = df > 0

In [ ]:
booldf

       Column A  Column B  Column C  Column D
Row A      True      True      True      True
Row B      True     False     False      True
Row C     False      True      True     False
Row D      True     False     False      True
Row E      True      True      True      True

In [ ]:
#can now place booldf into back into df to get a dataframe that shows values (numbers) for the trues and NaN for the false values
df[booldf]

       Column A  Column B  Column C  Column D
Row A  2.706850  0.628133  0.907969  0.503826
Row B  0.651118       NaN       NaN  0.605965
Row C       NaN  0.740122  0.528813       NaN
Row D  0.188695       NaN       NaN  0.955057
Row E  0.190794  1.978757  2.605967  0.683509

In [ ]:
#can also do this without naming the original boolean request
df[df > 0]

       Column A  Column B  Column C  Column D
Row A  2.706850  0.628133  0.907969  0.503826
Row B  0.651118       NaN       NaN  0.605965
Row C       NaN  0.740122  0.528813       NaN
Row D  0.188695       NaN       NaN  0.955057
Row E  0.190794  1.978757  2.605967  0.683509

In [ ]:
#can pull series following the same format
df['Column A'] > 0

Row A     True
Row B     True
Row C    False
Row D     True
Row E     True
Name: Column A, dtype: bool

In [ ]:
df['Column A']

Row A    2.706850
Row B    0.651118
Row C   -2.018168
Row D    0.188695
Row E    0.190794
Name: Column A, dtype: float64

In [ ]:
#can pull out the true values and give a new ouput with only said true values by calling a dataframe of the series within a dataframe
#be aware does not remove false (NaN) values from the other columns only removes false rows from the series of the column chosen
#**MUST KNOW pandas use - Conditional Selections - below is multiple examples of this
df[df['Column A']>0]

       Column A  Column B  Column C  Column D
Row A  2.706850  0.628133  0.907969  0.503826
Row B  0.651118 -0.319318 -0.848077  0.605965
Row D  0.188695 -0.758872 -0.933237  0.955057
Row E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df

       Column A  Column B  Column C  Column D
Row A  2.706850  0.628133  0.907969  0.503826
Row B  0.651118 -0.319318 -0.848077  0.605965
Row C -2.018168  0.740122  0.528813 -0.589001
Row D  0.188695 -0.758872 -0.933237  0.955057
Row E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df[df['Column A']>0]

       Column A  Column B  Column C  Column D
Row A  2.706850  0.628133  0.907969  0.503826
Row B  0.651118 -0.319318 -0.848077  0.605965
Row D  0.188695 -0.758872 -0.933237  0.955057
Row E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df[df['Column A']>0]['Column B']

Row A    0.628133
Row B   -0.319318
Row D   -0.758872
Row E    1.978757
Name: Column B, dtype: float64

In [ ]:
df[df['Column A']>0][['Column B']]

       Column B
Row A  0.628133
Row B -0.319318
Row D -0.758872
Row E  1.978757

In [ ]:
df[df['Column A']>0][['Column B', 'Column D']]

       Column B  Column D
Row A  0.628133  0.503826
Row B -0.319318  0.605965
Row D -0.758872  0.955057
Row E  1.978757  0.683509

In [ ]:
first_breakdown = df['Column A']>0

In [ ]:
first_breakdown

Row A     True
Row B     True
Row C    False
Row D     True
Row E     True
Name: Column A, dtype: bool

In [ ]:
df[first_breakdown]['Column B']

Row A    0.628133
Row B   -0.319318
Row D   -0.758872
Row E    1.978757
Name: Column B, dtype: float64

In [ ]:
df[first_breakdown][['Column B']]

       Column B
Row A  0.628133
Row B -0.319318
Row D -0.758872
Row E  1.978757

In [ ]:
df[first_breakdown]

       Column A  Column B  Column C  Column D
Row A  2.706850  0.628133  0.907969  0.503826
Row B  0.651118 -0.319318 -0.848077  0.605965
Row D  0.188695 -0.758872 -0.933237  0.955057
Row E  0.190794  1.978757  2.605967  0.683509

In [ ]:
second_breakdown = df[first_breakdown]
designated_columns = ['Column B', 'Column C']
second_breakdown[designated_columns]

       Column B  Column C
Row A  0.628133  0.907969
Row B -0.319318 -0.848077
Row D -0.758872 -0.933237
Row E  1.978757  2.605967

In [ ]:
#desire multiple conditions 
#using 'and' confuses the system since 'and' relays strictly true and false 
#using 'and' here returns an 'ambiguous' error essentially saying the system is too confused
#using parentheses and the ampersand helps pandas differentiate the request
df[(df['Column A']>0) & (df['Column C']>1)]
#output is the only row that meets both of these conditions

       Column A  Column B  Column C  Column D
Row E  0.190794  1.978757  2.605967  0.683509

In [ ]:
#when want to use the "or" operator the same confusion can happen
#for pandas in this situation we use the pipeline '|' operator
df[(df['Column A']>0) | (df['Column C']>1)]

       Column A  Column B  Column C  Column D
Row A  2.706850  0.628133  0.907969  0.503826
Row B  0.651118 -0.319318 -0.848077  0.605965
Row D  0.188695 -0.758872 -0.933237  0.955057
Row E  0.190794  1.978757  2.605967  0.683509

In [ ]:
#close parentheses in order to run desired method
#can set this parameter to permanently change df by calling "inplace" parameter in the method and changing it to =true
df.reset_index()

   index  Column A  Column B  Column C  Column D
0  Row A  2.706850  0.628133  0.907969  0.503826
1  Row B  0.651118 -0.319318 -0.848077  0.605965
2  Row C -2.018168  0.740122  0.528813 -0.589001
3  Row D  0.188695 -0.758872 -0.933237  0.955057
4  Row E  0.190794  1.978757  2.605967  0.683509

In [ ]:
#key points to above is that a new column is formed for the index with row names as values
#below, trick for faster list creation by avoiding comma and further quote placement is using the split method
#() for the split method, splits at the white space
index2 = 'NJ NY FL TX CA'.split()

In [ ]:
index2

['NJ', 'NY', 'FL', 'TX', 'CA']

In [ ]:
df['States'] = index2

In [ ]:
df

       Column A  Column B  Column C  Column D States
Row A  2.706850  0.628133  0.907969  0.503826     NJ
Row B  0.651118 -0.319318 -0.848077  0.605965     NY
Row C -2.018168  0.740122  0.528813 -0.589001     FL
Row D  0.188695 -0.758872 -0.933237  0.955057     TX
Row E  0.190794  1.978757  2.605967  0.683509     CA

In [ ]:
#to set specific column to be index
df.set_index('States')

        Column A  Column B  Column C  Column D
States
NJ      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
FL     -2.018168  0.740122  0.528813 -0.589001
TX      0.188695 -0.758872 -0.933237  0.955057
CA      0.190794  1.978757  2.605967  0.683509

In [ ]:
#creating index levels in pandas
#zip creates a set of tuples
#MultiIndex is a function used to make a customization in a dataframe
outside = ['chair', 'chair', 'chair', 'table', 'table', 'table']
inside = [1,2,3,1,2,3]
hierarchy_index = list(zip(outside, inside))
hierarchy_index = pd.MultiIndex.from_tuples(hierarchy_index)

In [ ]:
hierarchy_index

MultiIndex([('chair', 1),
            ('chair', 2),
            ('chair', 3),
            ('table', 1),
            ('table', 2),
            ('table', 3)],
           )

In [ ]:
df3 = pd.DataFrame(randn(6,2),hierarchy_index,['A','B'])

In [ ]:
df3

                A         B
chair 1  0.302665  1.693723
      2 -1.706086 -1.159119
      3 -0.134841  0.390528
table 1  0.166905  0.184502
      2  0.807706  0.072960
      3  0.638787  0.329646

In [ ]:
#indexing off multi-level
df3.loc['chair']

          A         B
1  0.302665  1.693723
2 -1.706086 -1.159119
3 -0.134841  0.390528

In [ ]:
#then can index deeper into that index
df3.loc['chair'].loc[2]

A   -1.706086
B   -1.159119
Name: 2, dtype: float64

In [ ]:
#output is basically saying there are two indexes and neither has a name
df3.index.names

FrozenList([None, None])

In [ ]:
df3.index.names = ['Furniture', 'Number']

In [ ]:
df3

                         A         B
Furniture Number
chair     1       0.302665  1.693723
          2      -1.706086 -1.159119
          3      -0.134841  0.390528
table     1       0.166905  0.184502
          2       0.807706  0.072960
          3       0.638787  0.329646

In [ ]:
#indexing and pulling a single value
df3.loc['table'].loc[2]['B']

0.07295967531703869

In [ ]:
#cross section (xs) method allows us a little more flexibility than .loc 
#particularly useful when attempting to pull out elements from two separate indexes
df3.xs(1,level='Number')

                  A         B
Furniture
chair      0.302665  1.693723
table      0.166905  0.184502